*{
    font-family: 'Lobster', cursive;
}


body{
    background-color: aqua;
}

main{
    min-height: 500px;
    margin: auto;
    text-align: center;
}

alert-success{
    background-color: green;
}

form li{
    background-color: red;
    list-style-type: none;
}

.formulaireAjout{
    margin : 15px;
}

